################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/Project/v16/ipch/AutoPCH/dcf712e01ed574ec
